<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>DanoneProject</display-name>
  <login-config>
    <auth-method>SAML2</auth-method>
  </login-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Danone Project Page</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Employee</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <description>Employee Role</description>
    <role-name>Employee</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Admin Area</web-resource-name>
      <url-pattern>/GetTeamServlet/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <description>Admin Role</description>
    <role-name>Admin</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Manager Area</web-resource-name>
      <url-pattern>/GetRequestManager/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Manager</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <description>Manager Role</description>
    <role-name>Manager</role-name>
  </security-role>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <servlet>
    <display-name>ResourceServlet</display-name>
    <servlet-name>ResourceServlet</servlet-name>
    <servlet-class>com.sap.ui5.resource.ResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/test-resources/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>com.sap.ui5.resource.DEV_MODE</param-name>
    <param-value>false</param-value>
  </context-param>
  <filter>
    <display-name>CacheControlFilter</display-name>
    <filter-name>CacheControlFilter</filter-name>
    <filter-class>com.sap.ui5.resource.CacheControlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CacheControlFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheControlFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheControlFilter</filter-name>
    <url-pattern>*.xml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheControlFilter</filter-name>
    <url-pattern>*.json</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheControlFilter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SimpleProxyServlet</servlet-name>
    <servlet-class>com.sap.ui5.proxy.SimpleProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleProxyServlet</servlet-name>
    <url-pattern>/proxy/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetEmployeeServlet</servlet-name>
    <servlet-class>GetEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeServlet</servlet-name>
    <url-pattern>/GetEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AskRequest</servlet-name>
    <servlet-class>AskRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AskRequest</servlet-name>
    <url-pattern>/AskRequest</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetTeamServlet</display-name>
    <servlet-name>GetTeamServlet</servlet-name>
    <servlet-class>GetTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeamServlet</servlet-name>
    <url-pattern>/GetTeamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Employees</display-name>
    <servlet-name>Add_Employees</servlet-name>
    <servlet-class>Add_Employees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Employees</servlet-name>
    <url-pattern>/Add_Employees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Team</display-name>
    <servlet-name>Add_Team</servlet-name>
    <servlet-class>Add_Team</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Team</servlet-name>
    <url-pattern>/Add_Team</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRequests</display-name>
    <servlet-name>GetRequests</servlet-name>
    <servlet-class>GetRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRequests</servlet-name>
    <url-pattern>/GetRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTeam</display-name>
    <servlet-name>DeleteTeam</servlet-name>
    <servlet-class>DeleteTeam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeam</servlet-name>
    <url-pattern>/DeleteTeam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_team</display-name>
    <servlet-name>Update_team</servlet-name>
    <servlet-class>Update_team</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_team</servlet-name>
    <url-pattern>/Update_team</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTeamEmployees</display-name>
    <servlet-name>GetTeamEmployees</servlet-name>
    <servlet-class>GetTeamEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeamEmployees</servlet-name>
    <url-pattern>/GetTeamEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSingleEmployee</display-name>
    <servlet-name>GetSingleEmployee</servlet-name>
    <servlet-class>GetSingleEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSingleEmployee</servlet-name>
    <url-pattern>/GetSingleEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployee</display-name>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/UpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployee</display-name>
    <servlet-name>DeleteEmployee</servlet-name>
    <servlet-class>DeleteEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployee</servlet-name>
    <url-pattern>/DeleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRequestManager</display-name>
    <servlet-name>GetRequestManager</servlet-name>
    <servlet-class>GetRequestManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRequestManager</servlet-name>
    <url-pattern>/GetRequestManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendEmail</display-name>
    <servlet-name>SendEmail</servlet-name>
    <servlet-class>SendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmail</servlet-name>
    <url-pattern>/SendEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateHoliday</display-name>
    <servlet-name>UpdateHoliday</servlet-name>
    <servlet-class>UpdateHoliday</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateHoliday</servlet-name>
    <url-pattern>/UpdateHoliday</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHoliday</display-name>
    <servlet-name>DeleteHoliday</servlet-name>
    <servlet-class>DeleteHoliday</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHoliday</servlet-name>
    <url-pattern>/DeleteHoliday</url-pattern>
  </servlet-mapping>
</web-app>